.content > div{
	height: 88%;
}
.contTop{
	height: auto;
	font-size:14px;
}
.contTable{
	height: 100%;
	padding-right:40px;
}
.aggrementCont .contTop > a{
	color:#25bfc1;
}
#inputText{
	width: 100%;
	border:1px solid #e3e3e3;
	height: 79%;
	outline: none;
	resize: none;
}
.saveAggrementBtn{
	margin-top: 30px;
	background:#25bfc1;
	width: 100px;
	height: 35px;
	color:#fff;
	font-size:16px;
	display:block;
	text-align:center;
	line-height: 35px;
	cursor:pointer;
}