html{
	font-size: 12px;
}
body{
	background:#fff;
	font-family:'Microsoft YaHei', Arial, Helvetica, sans-serif;
	padding:0 2rem;
}
.row{
	min-height: 5rem;
	border-bottom: 1px dotted #838a8d;
	line-height: 5rem;
	padding:0 10px;
}
.titl{
	font-size: 1.2rem;
	color: #838a8d;
}
.linkScreen{
	float: right;
	color:#25bfc1;
	font-size: 1.1rem;
}
.desc-r{
	width: 68%;
	float: right;
	min-height: 5rem;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
}
.desc{
	font-size: 1.1rem;
	color: #a5a4a4;
	line-height: 20px;
}
.col6{
	float: left;
	width: 50%;
}
.section{
	padding:0 10px;
	border-bottom: 1px dotted #838a8d;
	padding-bottom: 2.5rem;
	min-height: 8rem;
	word-break: break-all;
	word-wrap: break-word; 
}
.section > h3{
	height: 5rem;
	line-height: 5rem;	
}
.no-b-b{
	border-bottom: 0;
}
@media screen and (min-width: 375px){
	html{
		font-size: 14px;
	}
}
@media screen and (min-width: 414px){
	html{
		font-size: 16px;
	}
} 